# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [1]:
# for keyword, counter/iterator, in keyword, object
for i in range(10, 100, 10):
    print(i)

10
20
30
40
50
60
70
80
90

##### Using 'in' keyword

In [9]:
#in is what accesses the items in an iterable
for num in range(15):
    print(num*2)

book = "The Two Towers"

if "T" in book:
    print ("totally tubular")
else:
    print ("no")

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
totally tubular

##### Continue Statement

In [21]:
#continue
for i in range(20):
    if i == 5 or i == 6:
        continue
    print(i)

for i in range(20):
    if i == 5 or i == 6:
        continue
    else:
        print(i)

0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [24]:
for i in range(10):
    if i == 4:
        break
    print(i)

0
1
2
3

##### Pass Statement

In [28]:
# mostly used as a placeholder, and will continue on same iteration
for i in range(20):
    pass

def checkout():
    pass

def thank_the_cashier():
    pass

print("hello")

hello

##### Double For Loops

In [29]:
for i in range(5):
    for j in range(5):
        print("i = ",i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [30]:
#while keyword, condition statement
#while loop will run based on the condition statement
counter = 0
while counter < 11:
    counter += 1
    print(counter)

1
2
3
4
5
6
7
8
9
10
11

##### looping 'While True'

In [ ]:
# true as a condition for while loop to run

##### While & For Loops Used Together

##### The Range Function

In [ ]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given

### String Manipulation Exercise

In [32]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.


for x in names:
    print(x.strip().title())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [34]:
our_list = []
print(our_list)
names = ["Ryan" , "Jaun" , "Ben" , "Connor"]

print(names)

[]
['Ryan', 'Jaun', 'Ben', 'Connor']

##### Indexing a List

In [55]:
# [start: stop: step] --> last item [-1]
names = ("Ryan" , "Jaun" , "Ben" , "Connor" , "Miguel" , "Grace")
print(names[0])
print(names[-1])
print(len(names))
print(names[0], "at index 0")
print(names[1], "at index 1")
print(names[2], "at index 2")
print(names[3], "at index 3")
print(names[4], "at index 4")
print(names[5], "at index 5")
print('\n')

for i in range(len(names)):
    print(i)
    print(names[i])

Ryan
Grace
6
Ryan at index 0
Jaun at index 1
Ben at index 2
Connor at index 3
Miguel at index 4
Grace at index 5


0
Ryan
1
Jaun
2
Ben
3
Connor
4
Miguel
5
Grace

### List Methods

##### .append()

In [49]:
names = ["Grace", "Justin", "Michael", "Connor", "Wil"]
print(names)
names.append("Kym")
print(names)

['Grace', 'Justin', 'Michael', 'Connor', 'Wil']
['Grace', 'Justin', 'Michael', 'Connor', 'Wil', 'Kym']

##### .insert()

In [44]:
#our_list.insert(index, value)
print(names)
names.insert(3, "Bikram")
print(names)

['Grace', 'Justin', 'Michael', 'Connor', 'Wil', 'Kym']
['Grace', 'Justin', 'Michael', 'Bikram', 'Connor', 'Wil', 'Kym']

##### .pop()

In [51]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it to a variable
name = names.pop(2)
print(name)
print(names)

name2 = names.pop()
print(name2)
print(names)

Connor
['Grace', 'Justin', 'Wil', 'Kym']
Kym
['Grace', 'Justin', 'Wil']

##### .remove()

In [56]:
# value to be removed, not an index
names.remove("Connor")
print(names)

AttributeError: 'tuple' object has no attribute 'remove'

### Working With Lists

##### del()

In [57]:
# index to be removed, not value 
del (names[0])

print(names)

TypeError: 'tuple' object doesn't support item deletion

##### min()

In [59]:
# return the smallest item in a list
numbers = [5, 6, 12, 6, 7, 234, 1, 0, 2]
print(min(numbers))

0

##### max()

In [58]:
# returns largest item in a list
numbers = [5, 6, 12, 6, 7, 234, 1, 0, 2]
print(sum(numbers))

273

##### sum()

In [ ]:
# return the sum of all numbers in a list

##### sorted()

In [60]:
#sorted will return a new sorted list, create a new variable
sorted_nums = sorted(numbers)
print(sorted_nums)

[0, 1, 2, 5, 6, 6, 7, 12, 234]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [61]:
#.sort() will sort the original list
numbers.sort()
print(numbers)

[0, 1, 2, 5, 6, 6, 7, 12, 234]

##### Copying a List

In [62]:
# [:] copies a list, doesn't alter original'
names = ["Grace", "Justin", "Michael", "Connor", "Wil"]
more_names = names[:]
print(more_names)

['Grace', 'Justin', 'Michael', 'Connor', 'Wil']

##### Looping Through Lists

In [65]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]

for name in names:
    print(name)
    print("\n")

for i in range(len(names)):
    print(names[i])

print("\n")
for i, value in enumerate(names):
    print(names[i])

Han Solo


Leia Organa


Luke Skywalker


Lando Calrissian


Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu

##### 'in' keyword

In [68]:
names = ["Grace", "Justin", "Michael", "Connor", "Wil"]
if "Grace" in names:
    print("Hello Grace!")
else:
    "There is no Grace :("

Hello Grace!

##### 'not in' keyword

In [69]:
names = ["Grace", "Justin", "Michael", "Connor", "Wil"]
if "Ryan" not in names:
    print("Well that doesn't sound like a very good time")
else:
    print("Oh yay")

Well that doesn't sound like a very good time

##### Checking an Empty List

In [79]:
l_1 = []

if l_1 == []:
    print("Would ya just look at the that empty list.")
print(l_1)

Would ya just look at the that empty list.
[]

##### Removing Instances with a Loop

In [81]:
#while, remove
["Grace", "Michael", "Michael", "Connor", "Wil"]
for name in names:
    if name == "Michael":
        names.remove(name)
print(names)

names

['Grace', 'Justin', 'Connor', 'Wil']

['Grace', 'Justin', 'Connor', 'Wil']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [85]:
names = ["Grace", "Justin", "Michael", "Michael", "Connor", "Wil"]
# Hint 2: Using an empty list will make life easier


for name in names:
    if name == "Michael":
        names.remove(name)
        
print(names)

names.append("Connor")
print(names)

['Grace', 'Justin', 'Michael', 'Connor', 'Wil']
['Grace', 'Justin', 'Michael', 'Connor', 'Wil', 'Connor']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [94]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_square = [x**2 for x in nums]
print(nums_square)

[4, 16, 25, 36, 49, 64, 81, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [89]:
tup_1 = (1, 2, 3)
tup_2 = 1, 2, 3
print(tup_2)
print(tup_1)

for num in tup_2:
    print(num)

print(type(yup_1))

print(len(tup_2))

(1, 2, 3)
(1, 2, 3)
1
2
3

NameError: name 'yup_1' is not defined

##### sorted()

In [90]:
tup = (20, 5, 1, 10, 95, 123)

print(sorted(tup))

new_tup = tuple(sorted(tup))
print(new_tup)

[1, 5, 10, 20, 95, 123]
(1, 5, 10, 20, 95, 123)

##### Adding values to a Tuple

In [91]:
my_string1 = "Hello"
my_string2 = "There"
my_string3 = my string1 + " " + my_string2
print(my_string3)

my_list = [1,2,3,4,5]
my_list2 = [5,7,8,9,10]

SyntaxError: invalid syntax (2937199019.py, line 3)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [2]:
alist = [1,11,14,5,8,9]
filtered_list = [x for x in alist if x < 10]
for num in filtered_list:
    print(num)

1
5
8
9

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [22]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

merged_list = l_1 + l_2

print(merged_list)

sorted_merged_list = sorted(merged_list)
    
print(sorted_merged_list)

[1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8, 10]
[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [24]:
squared_numbers = [x **2 for x in range(1, 16)]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [32]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

filtered_list = [name.strip().title() for name in names_list if len(name.strip())> 0 and name.strip().lower()[0] == "a" ]

list_comp

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>